/* add your CSS here. windows comment out shorcut: ctrl+/(hold down ctrl key and hit / right after.
If you want to undo it, just simply hit ctrl+l key again*/


body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    }

.border {
        width: 350px;
        height: auto;
        background-color: darkgrey;
        border: 0.5px solid #c7c7c7;
        border-radius: 10px;
        box-shadow: 7px 7px rgba(68, 68, 68, 0.2);

}

.name {
      border: 1px;
      padding-left: 10px;
}

img {
    border: 1px;
    border-radius: 10px;
    padding-left: 10px ;
    width: 330px;
    height: auto;
}

.style {
        margin: 10px;
        border: 1px solid #c7c7c7;
        border-radius: 10px;
        padding: 8px;
}

.italic {
        font-style: italic;
}

.characteristics {
                border: 1px;
                list-style: none;
                padding-left: 1px;
}

.strong {
        font-weight: bolder;
}
