/* add your CSS here */

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    }

.border {
        width: 350px;
        height: auto;
        background-color: darkgrey;
        border: 0.5px solid #c7c7c7;
        border-radius: 10px;
        box-shadow: 7px 7px rgba(133,133,133,0.2);

}

.name {
      border: 1px;
      padding-left: 10px;
}

img {
    border: 1px;
    padding-left: 10px ;
    width: 330px;
    height: 280px;
    /*padding-bottom: 0.4em;*/
}

.style {
        margin: 10px;
        border: 1px solid #c7c7c7;
        padding: 8px;
}

.italic {
        font-style: italic;
}

.characteristics {
                border: 1px;
                list-style: none;
                padding-left: 1px;
}

.strong {
        font-weight: bolder;
}


